body { 
  background: #000 url(../img/background_1366.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div {
  background-color: rgba(0,0,0,0);
}

.container-wrap {
  background-color: rgba(0,0,0,0.8);
  display: none;
}
.container {
  padding-top:30px;
}

p{
  color: #BBB;
}

h3{
  color: #DDD;
  text-shadow: 0px 0px 5px #000;
}

.instruments {background: url(../img/icons_red_125px.png) no-repeat;}
.bass { background-position: 3px 0px; width: 125px; height: 125px; }
.drums { background-position: -125px 0px; width: 125px; height: 125px; }
.guitar { background-position: -250px 0px; width: 125px; height: 125px; }
.mic { background-position: -375px 0px; width: 125px; height: 125px; }
